*

# dirs
!*/

# common global stuff
!.gitignore
!.gitattributes
!.editorconfig
!LICENSE
!README

# code & text
!*.cs
!*.csx
!*.ts
!*.txt
!*.js
!*.scss
!*.sln
!*.csproj
!*.json
!*.xml
!*.webmanifest
!*.md

# images & other blobs
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.svg
!*.ico

# reignore
bin/
obj/
publish/
artifacts/
node_modules/
**/wwwroot/css/
**/wwwroot/scripts/
**/wwwroot/libs/
sandbox/
.vscode/
launchSettings.json
