@import "../Base/_global.scss";

.filters-box {
    margin: 1.5rem 0 0 0;

    @include flex-wrapper-row(1, 1, 40%, flex-start);

    @include res-max-tablet {
        margin: 1.5rem 0;
    }

    .filter {
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        box-sizing: border-box;
        margin-bottom: 0;

        @include res-max-tablet {
            width: 100%;
            padding: 0 1rem;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        label {
            font-size: 90%;
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
        }

        .dotvvm-bp-multi-select {
            width: 100%;
        }

        .dotvvm-bp-range-slider {
            margin-top: 13px;
        }
    }
}
