@import "../Base/_global.scss";

.lessons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include res-max-tablet {
        justify-content: center;
    }
}

.lessons-item {
    flex: 0 0 24%;
    max-width: 24%;
    width: 24%;
    background-color: $color-primary;
    text-align: center;
    color: $color-white;
    padding: 2rem 4rem;
    box-sizing: border-box;
    padding-bottom: 10rem;
    position: relative;

    @include res-max-desktop-HD {
        padding: 2rem;
        padding-bottom: 7rem;
    }

    @include res-max-desktop-large {
        flex: 0 0 49%;
        max-width: 49%;
        width: 49%;

        &:first-child, &:nth-child(2) {
            margin-bottom: 3rem;
        }
    }

    @include res-max-tablet {
        flex: 0 0 65%;
        max-width: 65%;
        width: 65%;
        margin-bottom: 3rem;
    }

    @include res-max-mobile {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    &.finished > svg {
        width: 45%;
        min-width: 12rem;
    }

    > svg {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
        min-width: 15rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        display: block;
        min-height: 3.5rem;
        margin-bottom: 1.5rem;
        font-size: $font-size-xs;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 5rem;
    }

    &:before {
        left: 0;
        background: linear-gradient(166deg, $color-transparent 0%, $color-transparent 50%, $color-white 51%, $color-white 100%);
    }

    &:after {
        right: 0;
        background: linear-gradient(13.5deg, $color-white 0%, $color-white 50%, $color-transparent 51%, $color-transparent 100%);
    }
}
