@import "../Base/_global.scss";

@mixin setKeyFrames($padding, $delay) {
    will-change: auto;
    -webkit-animation: lol-#{$padding} 3s #{$delay}ms infinite ease-in-out;
    animation: lol-#{$padding} 3s #{$delay}ms infinite ease-in-out;

    @keyframes lol-#{$padding} {
        0% {
            opacity: 0;
            left: 0;
        }

        33% {
            opacity: 1;
            left: (50% - $padding);
        }

        66% {
            opacity: 1;
            left: (50% - $padding);
        }

        100% {
            opacity: 0;
            left: 100%;
        }
    }

    @-webkit-keyframes lol-#{$padding} {
        0% {
            opacity: 0;
            left: 0;
        }

        33% {
            opacity: 1;
            left: (50% - $padding);
        }

        66% {
            opacity: 1;
            left: (50% - $padding);
        }

        100% {
            opacity: 0;
            left: 100%;
        }
    }
}

.cs-loader {
    .cs-loader-inner {
        color: $color-primary;
        text-align: center;
        height: 20px;
        position: relative;

        label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
            opacity: 0;
            display: inline-block;

            &:nth-child(6) {
                @include setKeyFrames(-10, 100);
            }

            &:nth-child(5) {
                @include setKeyFrames(-6, 200);
            }

            &:nth-child(4) {
                @include setKeyFrames(-2, 300);
            }

            &:nth-child(3) {
                @include setKeyFrames(2, 400);
            }

            &:nth-child(2) {
                @include setKeyFrames(6, 500);
            }

            &:nth-child(1) {
                @include setKeyFrames(10, 600);
            }
        }
    }
}
