@import "../Base/_global.scss";

h1 {
    font-size: $font-size-xxl;
    font-family: $font-header-h1;
    font-weight: 300;
}

h2 {
    font-size: $font-size-xl;
    font-family: $font-subheader-h2;
}

h3 {
    font-size: $font-size-l;
    font-family: $font-subheader-h3;
}

p, span, a {
    font-size: $font-size-m;
    font-family: $font-text;
}
