@import "../../../Base/global";

.page-error-code {
    position: relative;
    width: 100%;
    min-height: 100vh;

    > div {
        display: inline-block;
        text-align: center;
        padding: 2rem;
        width: 100%;

        h1 {
            font-size: 6rem;
            margin: 0;

            @include res-min-mobile-max-tablet {
                font-size: 4.5rem;
            }

            @include res-max-mobile {
                font-size: 3rem;
            }
        }

        p {
            font-size: 3rem;
            margin: 0;

            @include res-min-mobile-max-tablet {
                margin-top: 1rem;
                font-size: 2.3rem;
            }

            @include res-max-mobile {
                margin-top: 1rem;
                font-size: 1.8rem;
            }
        }

        .button {
            margin-top: 3rem;
        }
    }
}
