@import "../Base/_global.scss";

.button {
    display: inline-block;
    text-decoration: none;
    background-color: $color-secondary;
    color: $color-primary;
    padding: .8rem 1.6rem;
    border: .1rem solid $color-secondary;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    min-width: 15rem;
    transition: $animate-all;
    text-align: center;
    font-family: $font-text;
    font-size: $font-size-m;

    &:hover, &:focus {
        text-decoration: none;
        background-color: $color-hover;
        transition: $animate-all;
        outline: none;
    }

    &[disabled="disabled"] {
        background-color: $color-border;
        border-color: $color-border;
        cursor: not-allowed;
    }

    &.with-borders {
        position: relative;
        z-index: 9;
        padding: .8rem 3rem;
        overflow: hidden;
        border: .1rem solid $color-primary;

        &:before, &:after {
            position: absolute;
            display: block;
            content: '';
            z-index: 10;
            height: 5rem;
            background-color: $color-primary;
            top: 50%;
            width: 5rem;
        }

        &:before {
            left: 0;
            transform: translate(-90%, -50%) rotate(45deg);
        }

        &:after {
            right: 0;
            transform: translate(90%, -50%) rotate(45deg);
        }
    }

    &.success {
        background-color: $color-btn-success;
        border-color: $color-btn-success;
        color: $color-white;

        &:hover, &.active {
            background-color: darken($color-btn-success, 10%);
            border-color: darken($color-btn-success, 10%);
            color: $color-white;
        }
    }

    &.with-tooltip {
        position: relative;

        &:after {
            position: absolute;
            bottom: 4.5rem;
            left: 50%;
            transform: translateX(-50%) scale(0,0);
            display: block;
            width: auto;
            padding: .5rem;
            text-align: center;
            color: $color-white;
            font-size: $font-size-s;
            background-color: $color-primary;
            content: attr(Tooltip);
            transition: $animate-all;
            min-width: 10rem;
            z-index: 10;
        }

        &:hover:after {
            transform: translateX(-50%) scale(1,1);
        }
    }

    &.with-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;

        > svg {
            display: block;
            width: 2rem;
            height: 2rem;
            margin-left: .5rem;
        }

        span {
            color: $color-font;
        }

        &--left > svg {
            margin-left: 0;
            margin-right: .5rem;
        }
    }

    &.with-loading {
        position: relative;
        min-height: 4rem;

        span, svg {
            display: none;
        }

        &:before, &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            border: 2px solid $color-transparent;
            border-top-color: $color-vs-dark;
            border-left-color: $color-vs-dark;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 100%;
            display: block;
            content: '';
            transform: translate(-50%, -50%) rotate(0);
            animation: RotateAnim .7s infinite;
        }

        &:after {
            border-top-color: $color-transparent;
            border-left-color: $color-transparent;
            border-bottom-color: $color-vs-hover;
            border-right-color: $color-vs-hover;
            width: 2.2rem;
            height: 2.2rem;
            transform: translate(-50%, -50%) rotate(0);
            animation: RotateAnim 1s infinite;
        }
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    @include res-max-desktop-small {
        justify-content: center;
        flex: 0 0 100%;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
    }

    > * {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .button {
        margin-left: 1rem;

        @include res-max-tablet {
            margin: 0 .5rem;
            margin-bottom: 1rem;
        }

        @include res-max-mobile {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@keyframes RotateAnim {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
