@import "../Base/_global.scss";

.code-bg {
    background-color: $color-vs-dark;
    flex: 0 0 55%;
    width: 55%;
    max-width: 55%;
    align-self: flex-start;

    @include res-max-desktop-large {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
}

.code-container {
    width: 100%;
    height: auto;
    min-height: 60rem;
    margin-top: 2rem;
    border: none;
    background-color: $color-vs-dark;

    @include res-max-desktop-small {
        margin: 1rem auto;
    }

    + div {
        max-height: 30rem;
        overflow: auto;
    }
}
