@import "../Base/_global.scss";

code {
    font-size: 1.7rem;
}

.code {

    &__header {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        background-color: $color-vs-dark;
        display: flex;
        border-bottom: 1px solid $color-vs-hover;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__copy-button {
        position: relative;
        width: 8rem;
        height: 3rem;
        display: block;
        background-color: $color-vs-dark;
        border: none;
        transition: $animate-all;
        border-left: 1px solid $color-vs-hover;

        &:hover, &:focus {
            background-color: $color-vs-hover;
            cursor: pointer;
            outline: none;
        }

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            content: "Copy";
            font-size: $font-size-s;
            color: $color-vs-text;
            transition: $animate-all;
        }
    }

    &__bg {
        background-color: $color-vs-dark;
        flex: 0 0 55%;
        width: 55%;
        overflow: hidden;
        max-width: 55%;
        align-self: flex-start;

        @include res-max-desktop-large {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
        }
    }

    &__container {
        width: 100%;
        height: auto;
        min-height: 60rem;
        border: none;
        background-color: $color-vs-dark;

        @include res-max-desktop-small {
            margin: 1rem auto;
        }

        + div {
            max-height: 30rem;
            overflow: auto;
        }
    }

    &__top-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-color: $color-vs-dark;
        border-bottom: 1px solid $color-vs-hover;
    }

    &__button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 10rem;
        background-color: $color-vs-dark;
        border: none;
        padding: .5rem;
        height: 3rem;
        transition: $animate-all;
        border-left: 1px solid $color-vs-hover;

        svg {
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            margin-left: .5rem;

            path {
                fill: $color-vs-text;
            }
        }

        span {
            color: $color-vs-text;
            font-size: $font-size-s;
        }

        &:hover {
            background-color: $color-vs-hover;
            cursor: pointer;
        }
    }
}
