@import "../Base/_global.scss";

.code-container {
    width: 100%;
    height: auto;
    min-height: 40rem;
    margin: 2rem auto;
    border: $outline-width solid $color-border;
    background-color: $color-code-container-bg;

    @include res-max-desktop-small {
        margin: 1rem auto;
    }
}
