@import "../Base/_global.scss";

.container {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

    @include res-max-desktop-small {
        min-width: 100%;
        padding: 0 2rem;
    }

    &-small {
        width: 50%;
        margin: 0 auto;
        box-sizing: border-box;

        @include res-max-desktop-small {
            min-width: 100%;
            padding: 0 2rem;
        }
    }

    &-large {
        width: 85%;
        margin: 0 auto;
        box-sizing: border-box;

        @include res-max-desktop-small {
            min-width: 100%;
            padding: 0 2rem;
        }

        &.with-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}
