@import "../Base/_global.scss";

.container {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

    @include res-max-desktop-hd {
        min-width: 100%;
        padding: 0 5rem;
    }

    @include res-max-desktop-large {
        padding: 0 $gap--xxxl;
    }

    @include res-max-desktop-small {
        padding: 0 $gap--l;
    }

    &-large {
        width: 85%;
        margin: 0 auto;

        @include res-max-desktop-small {
            min-width: 100%;
            padding: 0 $gap--l;
        }

        &.with-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
        }
    }
}
