@import "../Base/_global.scss";

.embedded-view {
    flex: 0 0 55%;
    width: 55%;
    max-width: 55%;
    align-self: flex-start;
    height: 0;
    position: relative;
    padding-bottom: 40%;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    @include res-max-desktop-large {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
}