@import "../Base/_global.scss";

.label-wrapper {
    margin-bottom: 1rem;

    > label {
        display: block;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;

        & + * {
            width: 100%;
        }
    }
}