@import "../Base/_global.scss";

.lang-switch {
    --pop-up-opacity: 0;
    --btn-color: #{$font-text};
    --list-z-index: -100;
    position: relative;

    @include res-max-desktop-small {
        width: auto;
    }

    &:focus-within {
        --btn-color: #{$color-dotvvm-blue};
        --pop-up-opacity: 1;
        --list-z-index: 100;
    }

    &__button {
        background: $color-transparent;
        width: 100%;
        display: block;
        color: $color-white;
        height: $gap--xxl;
        width: $gap--xxl;
        line-height: $gap--xxl;
        color: var(--btn-color);
        font-family: $font-family-default;
        text-align: center;
        font-family: $font-text;
        text-transform: uppercase;
        border: none;
        font-size: $font-size-m;
        padding: 0;
        cursor: pointer;
        font-weight: 600;

        &:hover {
            --btn-color: #{$color-dotvvm-blue};
        }
    }

    &__list {
        position: absolute;
        display: block;
        list-style: none;
        left: 50%;
        top: calc(100% + #{$gap--s});
        width: 8rem;
        background-color: $color-white;
        border: 1px solid $color-border;
        transform: translateX(-50%);
        padding-left: 0;
        opacity: var(--pop-up-opacity);
        transition: opacity $trans-time;
        z-index: var(--list-z-index);

        a {
            display: block;
            padding: $gap--xs $gap--s;
            text-decoration: none;
            color: $color-primary;
            background-color: $color-white;
            text-transform: uppercase;

            &:hover {
                background-color: $color-vs-text;
            }
        }
    }
}
