@import "../Base/_global.scss";

.lang-switcher {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-primary;
    z-index: 10;

    &_list {
        position: absolute;
        top: 100%;
        right: 0;
        height: 0;
        overflow: hidden;
        transition: $animate-all;
        z-index: 9;

        a {
            display: block;
            text-decoration: none;
            color: $color-primary;
            margin: auto;
            box-sizing: border-box;
            padding: 0 .5rem;
            height: auto;
            transition: $animate-all;
            background-color: $color-transparent;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
                transition: $animate-all;
            }
        }

        &.open {
            height: auto;
            min-height: 2.6rem;
            transition: $animate-all;
            transform: translateY(-.1rem);
        }
    }
}

.lang-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    position: relative;
    text-align: center;

    svg {
        height: 100%;
        width: auto;
        position: relative;
        z-index: 15;
    }

    p {
        display: inline-block;
        margin: auto;
        box-sizing: border-box;
        color: $color-white;
        padding: 0 .5rem;
        height: auto;
    }
}
