@import "../Base/_global.scss";

.progress-bar-title {
    display: block;
    margin-bottom: 1rem;
}

.lesson-progress-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 3rem;
    margin-bottom: 5rem;

    @include res-max-desktop-small{
        margin-bottom: 3rem;
    }

    &:after {
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 100%;
        height: .2rem;
        background-color: $color-border;
        content: '';
        transform: translateY(-50%);
        z-index: -1;
    }
}

.progress-item {
    position: relative;
    flex: 1 1 auto;

    &:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 0%;
        content: '';
        height: .2rem;
        background-color: $color-secondary;
        transform: translateY(-50%);
        z-index: 1;
        transition: $animate-all;
    }

    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border: .2rem solid $color-border;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        line-height: 3rem;
        color: $color-border;
        z-index: 2;
    }

    &.completed {
        &:after {
            width: 100%;
            transition: $animate-all;
        }

        > span {
            border-color: $color-secondary;
            color: $color-primary;
            transition-property: all;
            transition-delay: .15s;
            transition-duration: .15s;
        }
    }
}
