@import "../Base/_global.scss";

.progress-bar-title {
    display: block;
    margin-bottom: 1rem;
}

.lesson-progress-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 3rem;
    margin-bottom: 5rem;

    @include res-max-desktop-small {
        margin-bottom: 3rem;
    }

    &:after {
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 100%;
        height: .2rem;
        background-color: $color-border;
        content: '';
        transform: translateY(-50%);
        z-index: -1;
    }
}

.progress-item {
    position: relative;
    flex: 1 1 auto;

    &:after, &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 0%;
        content: '';
        height: .3rem;
        background-color: $color-border;
        transform: translateY(-50%);
        z-index: 1;
        transition: $animate-all;
    }

    &:before {
        width: 100%;
    }

    > span, > a {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 5rem;
        height: 5rem;
        text-align: center;
        border: .3rem solid $color-border;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        line-height: 5rem;
        color: $color-border;
        z-index: 2;
        text-decoration: none;
        font-size: 3rem;

        @include res-max-desktop-small {
            width: 3rem;
            height: 3rem;
            border-width: .2rem;
            line-height: 3rem;
            font-size: $font-size-l;
        }
    }

    &.completed {
        &:after {
            width: 100%;
            transition: $animate-all;
            background-color: $color-secondary;
        }

        > span, > a {
            border-color: $color-secondary;
            color: $color-primary;
            transition-property: all;
            transition-delay: .15s;
            transition-duration: .15s;
        }
    }
}
