@import "../Base/_global.scss";

.modal {
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: $color-white;
    width: 50rem;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 2.4rem;
    box-sizing: border-box;
    border-radius: 4px;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0,0,0,.8);
        animation: FadeAnim .3s forwards;
        z-index: 9999;
    }

    &__header {
        text-align: center;

        h2 {
            font-size: 4rem;
            margin-bottom: 1.6rem;
        }

        p {
            font-size: $font-size-l;
        }
    }

    &__content {

        img {
            width: 8rem;
            display: block;
            height: auto;
            margin: 3rem auto;
        }
    }

    &__close {
        position: absolute;
        width: 4rem;
        height: 4rem;
        transform: scale(1, 1);
        bottom: 100%;
        left: 100%;
        cursor: pointer;
        transition: $animate-all;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        &:before, &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 3.5rem;
            height: .2rem;
            background-color: $color-white;
            content: "";
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 3rem;
    }
}


@keyframes FadeAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
