@import "../Base/_global.scss";

section {
    padding: 5rem 0;

    @include res-max-desktop-small {
        padding: 3rem 0;
    }

    .section-title {
        font-size: $font-size-xl;
        padding: 0;
        padding-bottom: 5rem;
        text-align: center;

        @include res-max-desktop-small {
            font-size: $font-size-l;
            padding-bottom: 3rem;
        }
    }

    &.no-padding {
        padding: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }
}
