@import "../Base/_global.scss";

h1, .h1 {
    font-size: $font-size-xxl;
    font-family: $font-header-h1;
    font-weight: 300;
}

h2 {
    font-size: $font-size-xl;
    font-family: $font-subheader-h2;
}

h3 {
    font-size: $font-size-l;
    font-family: $font-subheader-h3;
}


body > div:not(&:last-of-type) {
    p, span, a {
        font-size: $font-size-m;
        font-family: $font-text;
    }
}

body {
    > h1 {
        opacity: 0;
        position: absolute;
    }
}

.title-lesson {
    color: var(--title-color);
    display: block;
    font-size: large;
    text-transform: uppercase;
}
