@import "../Base/_global.scss";

// IMPORTANT: Never include this file in other *.scss files

// Reset all elements to default settings (It will reset default brwser settings)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

:root {
    --nav-height: 5.5rem;
}

html {
    font-size: 62.5%;
    height: 100%;

    .code-container {
        font-size: 100% !important;
    }

    * {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-text;
    color: $color-font;
    font-size: 1.4rem;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    padding-top: var(--nav-height);
    background: url(/images/Logos/body_bg.svg);
    background-repeat: no-repeat;
    background-position: center 30rem;
    background-attachment: fixed;
    background-size: 80%;

    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
    }

    footer {
        flex: 0 0 auto;
    }

    &.step-body {
        header {
            /*border-bottom: 1px solid $color-border;*/
        }

        main {
            padding-bottom: 8rem;

            @include res-max-desktop-small {
                position: relative;
                padding-bottom: 0;
            }
        }

        footer {
            display: flex;
            align-items: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            flex: none;
            height: 8rem;

            @include res-max-desktop-small {
                position: relative;
                height: auto;
                flex: 0 0 auto;
            }
        }
    }
}

ol, ul {
    padding-left: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;

    &:before, &:after {
        content: "";
        content: none;
    }
}

a img {
    border: none;
}

#{elements-of-type(html5-block)} {
    display: block;
}
