@import "../../Base/global";

.guide-container {

    .dotvvm-bp-control:not(.fa) {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }

    display: block;
    width: 70%;
    margin: 50px auto;

    @include res-max-tablet {
        width: 100%;
    }

    hr {
        margin: 50px 0;
    }

    & > h1 {
        text-align: center;
    }

    .guide-box:not(.fonts) {

        @include flex-wrapper-row(0, 0, 20%);

        & > * {
            padding: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        img {
            width: 100%;
        }

        &.g-images {
            div {
                position: relative;
                width: 100%;

                @include flex-wrapper-row();
            }
        }

        &.icons img {
            flex: 0 0 80px;
        }

        &.logos {
            align-items: center;
        }

        @include res-max-mobile {
            flex-direction: column;
        }
    }

    .g-button {
        text-align: center;

        p {
            margin-bottom: 1rem;
        }
    }

    .g-color {

        span {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: auto;
        }

        p {
            font-weight: 600;
            padding-top: 10px;
            display: block;
            width: 100%;
            text-align: center;
        }

        &.primary {
            span {
                background: $color-primary;
            }

            p {
                &:after {
                    display: block;
                    content: "#{$color-primary}";
                }
            }
        }

        &.secondary {
            span {
                background: $color-secondary;
            }

            p {
                &:after {
                    display: block;
                    content: "#{$color-secondary}";
                }
            }
        }

        &.font {
            span {
                background: $color-font;
            }

            p {
                &:after {
                    display: block;
                    content: "#{$color-font}";
                }
            }
        }

        &.background {
            span {
                background: $color-background;
                border: 2px solid darken($color-background, 20%);
            }

            p {
                &:after {
                    display: block;
                    content: "#{$color-background}";
                }
            }
        }

        &.error {
            span {
                background: $color-error;
            }

            p {
                &:after {
                    display: block;
                    content: "#{$color-error}";
                }
            }
        }
    }

    .g-font {
        margin: 1.5rem 0 3rem 0;

        padding {
            font-size: 14px;
        }

        > h1 {
            + p:after {
                display: block;
                content: "#{$font-header-h1}";
            }
        }

        > h2 {
            + p:after {
                display: block;
                content: "#{$font-subheader-h2}";
            }
        }

        > h3 {
            + p:after {
                display: block;
                content: "#{$font-subheader-h3}";
            }
        }

        &.text {
            font-family: $font-text;

            span {
                display: block;
                margin-bottom: 10px;
            }

            p:after {
                display: block;
                content: "#{$font-text}";
            }
        }
    }
}
