@import "../../Base/global";

.page-login {
    width: 100%;

    .error-msg {
        display: block;
        margin: 2rem;
        color: $color-error;
    }

    label {
        > input[type="checkbox"] {
            margin: 0 0.5rem 0 0;
            vertical-align: middle;
        }

        > span {
            vertical-align: middle;
        }
    }

    .login-error-box {
        position: relative;
        height: 2rem;
        margin: -1rem 0 1rem 0;

        .cc-postback-loader {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            > div {
                background: $color-background;
            }
        }
    }
}
