@import "../Base/_global.scss";

.step-info-box {
    flex: 0 0 45%;
    width: 45%;
    max-width: 45%;
    align-self: flex-start;
    padding-right: 5rem;
    box-sizing: border-box;

    &.no-flex {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
    }

    @include res-max-desktop-large {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 28px;
        margin-top: 32px;
        margin-bottom: 12px;
        font-weight: 400;
    }

    h3 {
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 18px;
    }

    p, strong, b, a:not(.button), ul li {
        margin-top: 16px;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 0;
    }

    p {
        line-height: 2;

        code {
            border: 1px solid #d3d6db;
            background-color: #f9f9f9;
            font-size: 12.8px;
            line-height: 19px;
            padding: 5px 7px;
            direction: ltr;
            color: $color-black;
            border-radius: 2px;
            font-family: Consolas !important;
        }
    }

    img {
        display: block;
        margin-top: 16px;
        width: auto;
        max-width: 100%;
    }

    a {
        font-weight: 500;
        color: $color-dotvvm-blue;

        &:hover {
            color: darken($color-dotvvm-blue, 10%);
        }
    }

    blockquote {
        margin: 20px 0;
        background-color: $color-white;
        background: none;
        border: 1px solid $color-dotvvm-blue;
        padding: .5rem;
        border-left-width: .5rem;

        p {
            margin: 0;
        }
    }

    pre {
        background-color: $color-white;
        font-family: Consolas !important;
        border: 1px solid #d3d6db;
        background-color: $color-vs-dark;
        font-size: 12.8px;
        line-height: 19px;
        padding: 1rem;
        direction: ltr;
        border-radius: 2px;
        overflow-x: auto;

        code {
            font-family: Consolas !important;
            color: $color-black;
        }
    }
}
