@import "../Base/_global.scss";

div.dotvvm-bp-grid-view {
    display: block;
    width: 100%;
    overflow-x: auto;

    .culumn-checkbox {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .row-button {
        margin: 0 .4rem;
    }

    thead th {
        &.sort-asc, &.sort-desc {
            position: relative;

            a:after {
                font: normal normal normal 14px/1 FontAwesome;
                display: block;
                width: 0.8rem;
                position: absolute;
                top: 50%;
                right: 0.5rem;
                transform: translate(0, -50%);
            }
        }

        &.sort-asc {
            a:after {
                content: "\f0dd";
                height: 1.8rem;
            }
        }

        &.sort-desc {
            a:after {
                content: "\f0de";
                height: 0.8rem;
            }
        }
    }

    > table {
        border: 1px solid $color-border;
        width: 100%;

        th, td {
            border: 1px solid $color-border;
        }

        > thead {
            background-color: $color-primary;
            color: $color-white;

            > tr {
                > th {
                    padding: 0.5rem 1.5rem 0.5rem 0.8rem;
                    border: 1px solid $color-border;

                    a, span {
                        color: $color-white;
                        font-weight: 500;
                    }

                    a:hover {
                        color: darken($color-white, 15%);
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    padding: 0.5rem 0.8rem;
                }

                &.edit-row {
                    background-color: $color-white;
                    border: 1px solid $color-primary;

                    &:hover {
                        background-color: $color-white;
                    }

                    > td {
                        padding: 0 !important;
                        height: 3.1rem;

                        &.culumn-checkbox {
                            padding: .4rem 0 .4rem .4rem !important;
                        }

                        &:last-child {
                            padding: 0.5rem 0.8rem !important;
                        }

                        > .dotvvm-bp-control:not(.bp-icon) {
                            position: relative;
                            height: 100%;
                            margin: auto;
                            border: 1px solid transparent;
                            box-sizing: border-box;
                            background-color: transparent;

                            &.bp-state-focused {
                                border: 1px solid;
                                @include set-outline();
                            }

                            > .bp-unselect {
                                display: none;
                            }
                        }

                        .dotvvm-bp-combo-box {
                            > .bp-text-box {
                                width: 100%;
                                padding: .4rem .7rem;
                                border: none;
                                display: block;
                                box-sizing: border-box;

                                &:focus {
                                    border: none;
                                    box-shadow: none;
                                    outline: none;
                                }
                            }

                            .fa.fa-chevron-down {
                                border: none;

                                &:hover {
                                    color: darken($color-primary, 10%);
                                    background-color: $color-white;
                                }
                            }
                        }

                        .bp-text-box {
                            font-size: 1.4rem;
                            font-family: $font-text;
                        }

                        .dotvvm-bp-text-box {
                            padding: .4rem .7rem;
                        }
                    }
                }


                &.selected-row {
                    background-color: $color-primary;
                    color: $color-white;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }

                .fa {
                    color: $color-primary;
                    display: block;
                    float: left;
                    width: 2rem;
                    height: 2rem;
                    border: 1px solid $color-primary;
                    text-align: center;
                    margin-right: 0.2rem;
                    padding: 0.2rem;
                    background-color: $color-white;
                    transition: all .3s;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        transition: all .3s;
                        color: $color-white;
                        background-color: $color-primary;
                    }

                    &.fa-trash:hover {
                        background-color: lighten($color-error, 10%);
                    }
                }
            }
        }
    }
}
