@import "../Base/_global.scss";

nav {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    > a {
        display: flex;
        width: 20rem;
        padding: 1rem 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        text-decoration: none;
        color: $color-primary;

        svg {
            height: 6rem;
        }

        p {
            font-weight: 500;
            color: $color-primary;
        }
    }

    > div {
        flex: 0 0 calc(100%-20rem);
        max-width: 0 0 calc(100%-20rem);
        width: calc(100%-20rem);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
