@import "../Base/_global.scss";

nav {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    &.step-nav {
        > a {
            height: 4rem;

            > span {
                display: inline-block;
                font-size: 2.4rem;
                padding-right: .5rem;
                font-weight: 900;

                b {
                    color: $color-dotvvm-blue;
                }
            }

            p {
                margin-bottom: 0;
            }

            svg {
                display: none;
            }
        }
    }

    > a {
        display: flex;
        width: auto;
        height: 9rem;
        padding: 1rem 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        text-decoration: none;
        color: $color-primary;

        @include res-max-mobile {
            height: 7rem;
            margin-left: -1.7rem;
        }

        svg {
            height: 100%;
            width: 17rem;
            display: block;
            margin-right: .5rem;

            @include res-max-mobile {
                width: 13rem;
                margin-right: .3rem;
            }
        }

        > span {
            display: none;
        }

        p {
            font-weight: 300;
            color: $color-primary;
            font-size: 2.4rem;
            margin-bottom: .1rem;

            @include res-max-mobile {
                font-size: $font-size-l;
                margin-bottom: .2rem;
                margin-right: .3rem;
            }
        }
    }

    > div {
        flex: 0 0 calc(100%-20rem);
        max-width: 0 0 calc(100%-20rem);
        width: calc(100%-20rem);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
