@import "../Base/_global.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--nav-height);
    padding: 0 5.6rem;
    background-color: $color-white;
    z-index: 9999;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,var(--box-shadow-alpha));

    @include res-max-desktop-hd {
        padding: 0 3.2rem;
    }

    @include res-max-desktop-large {
        padding: 0 2.4rem;
    }

    @include res-max-desktop-small {
        padding: 0 $gap--l;
    }

    @include res-max-tablet {
        border-bottom: $border-width solid $color-border;
    }

    &:before, &:after {
        @include res-max-tablet {
            display: none;
        }
    }
}

.nav {

    .button {
        --btn-background: #3175b9;
        --btn-border-color: var(--btn-background);
        --btn-color: #ffffff;
        --btn-badding: 0.8rem 1.6rem;
        --btn-min-width: 16rem;
        --btn-max-width: 24rem;
        --btn-font-size: large;
        --box-shadow-alpha: .15;
        --icon-size: 1.6rm;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-width: var(--btn-min-width);
        max-width: var(--btn-max-width);
        padding: var(--btn-badding);
        background-color: var(--btn-background);
        border-radius: .5rem;
        font-size: var(--btn-font-size);
        font-weight: 500;
        color: var(--btn-color);
        text-decoration: none;
        transition: box-shadow .25s,background-color .25s,border-color .25s;
        cursor: pointer;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,var(--box-shadow-alpha));
        border: .2rem solid var(--btn-border-color);

        &--primary {
            --btn-background: #27be89;

            &--primary:hover {
                --btn-background: #24b280;
            }
        }

        &--small {
            --btn-min-width: 12rem;
            --btn-padding: 0.4rem 0.8rem;
            --btn-font-size: medium;
        }
    }

    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        margin: 0 $gap--l;
        font-size: x-large;
        text-decoration: none;

        * {
            line-height: $gap--xl;
        }

        @include res-max-desktop-small {
            margin-left: 0;
        }

        @include res-max-tablet {
            margin: 0;
        }
    }

    &__menu {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 1;
        list-style: none;
        transition: opacity $trans-time;
        transition-delay: .1s;

        @include res-max-tablet {
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: calc(100vh - var(--nav-height) - 1px);
            background-color: $color-white;
            opacity: 0;
        }

        &.open {
            @include res-max-tablet {
                display: block;
                animation: fade $trans-time linear forwards;
                animation-delay: .1s;
            }
        }
    }

    &__item {
        display: block;
        height: 100%;
        float: left;
        padding: 0 $gap--l;


        @include res-max-desktop-large {
            padding: 0 .8rem;
        }

        @include res-max-tablet {
            padding: 0 $gap--l;
        }

        @include res-max-tablet {
            grid-row-end: span 4;
        }

        &--mobile {
            display: none;

            @include res-max-tablet {
                display: block;
            }
        }

        &--with-button {
            display: flex;
            align-items: center;
            height: var(--nav-height);
            padding-right: $gap--xl;

            @include res-max-desktop-small {
                display: none;
            }
        }

        &--row-1 {
            grid-row-start: 1;
        }

        &--row-3 {
            grid-row-start: 6;
        }

        &--row-5 {
            grid-row-start: 11;
        }

        a:not(.button), input {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            background-color: $color-white;
            font-family: $font-family-default;
            font-size: medium;
            font-weight: 600;
            line-height: var(--nav-height);
            color: $color-primary;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;

            @include res-max-desktop-small {
                font-size: small;
            }

            @include res-max-tablet {
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: large;
                line-height: 4rem;
            }

            @include res-max-mobile-s {
                font-size: medium;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                text-decoration: underline;
            }

            > div {
                position: relative;
                width: 6rem;
                height: 6rem;
                background-color: $color-secondary;
                border-radius: 50%;

                @include res-max-mobile-s {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }

        .icon {
            --icon-size: #{$gap--l};
            display: block;
            width: var(--icon-size);
            min-width: var(--icon-size);
            height: var(--icon-size);
            margin-left: $gap--m;
            fill: $color-dotvvm-primary;

            @include res-max-tablet {
                --icon-size: #{$gap--xl};
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -50%);
                fill: $color-white;
            }

            @include res-max-mobile-s {
                --icon-size: 2rem;
            }
        }

        &--active a:not(.button) {
            color: $color-dotvvm-primary;
            text-decoration: underline;

            @include res-max-tablet {
                color: $color-primary;
                text-decoration: none;
            }

            > div {
                background-color: $color-primary;
            }
        }
    }

    &__item-icon {
        display: none;

        @include res-max-tablet {
            display: block;
        }
    }


    &__left, &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        list-style: none;

        @include res-max-tablet {
            display: grid;
            align-items: flex-start;
            width: 100%;
            grid-template-columns: 1fr;
        }
    }

    &__left {
        @include res-max-tablet {
            display: grid;
            height: 100%;
            padding-top: $gap--l;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(16, 1fr);
        }

        h4, li.h4 {
            display: none;

            @include res-max-tablet {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 9.6rem;
                background: linear-gradient(to right, $color-grey--light 0%, $color-white 100%);
                font-size: x-large;
                font-weight: 600;
                color: $color-secondary;
                grid-column-end: span 3;
            }

            @include res-max-mobile {
                padding-left: 3.2rem;
                font-size: large;
            }
        }
    }

    &__right {
        @include res-max-tablet {
            display: none;
        }
    }

    &__mobile-buttons {
        display: none;
        padding-top: $gap--l;
        text-align: center;
        grid-column-end: span 3;

        @include res-max-tablet {
            display: block;
        }
    }
    //UserNav is navigation on authentificated pages
    &__user-nav {
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        background-color: $color-white;
        text-align: center;
        overflow: auto;
        z-index: 999;

        @include res-max-mobile {
            position: fixed;
            top: 5.5rem;
            left: 0;
            border-bottom: $border-width solid $border-color;
        }
    }

    &__user-menu {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        @include res-max-mobile {
            justify-content: flex-start;
        }

        .nav__item > a:not(.button) {
            padding: .8rem 0;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
