
.header {
    background-image: url('/img/pattern.png');
    width: auto;
    height: 189px;
}

.header-con-padding {
    padding-left: 50px;
}

.header-logo {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.header-block {
    display: inline-block;
    vertical-align: middle;
}

.header-1, .header-2, .header-3 {
    font-family: 'Montserrat', sans-serif;
}

.header-1 {
    color: #2980b9;
    font-size: 60px;
}

.header-2 {
    font-size: 48px;
}

.header-3 {
    color: #2980b9;
    font-size: 26px;
}

.span-academy {
    color: #333;
}

.lesson-h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
}



.aa {
    color: #5298ea;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .aa:hover {
        color: #0075ff;
        text-decoration: none;
    }


.part {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 130%;
    overflow: hidden;
    transition: border 120ms ease-in;
}

    .part:hover {
        outline: 3px solid #5298ea;
    }

.img-part {
    width: 50%;
    float: left;
}

.content-wrap {
    padding-left: 50px;
}

.content-part {
    width: 50%;
    float: right;
    padding: 20px;
    position: relative;
    max-height: 150px;
}

.card {
    border-radius: 0px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    transition: border 120ms ease-in;
}

    .card:hover {
        outline: 10px solid #2980b9;
    }

.lesson {
    padding: 10px;
}

.code-editor {
    min-height: 350px;
}

.code-editor-buttons {
    margin-top: 40px;
}

.free {
    height: 50px;
}

.fix-height {
    min-height: calc(100vh - 56px);
}

.footer {
    background-color: #2980b9;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.alert {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.alert-danger {
    background-color: #e57c66;
    border: 1px solid #cc7162;
    color: white;
}

.fa-check-square-o {
    color: #52e652;
}

.well {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.step {
    border: none;
}

    .step p {
        font-size: 16px;
        font-family: Lato, sans-serif;
    }
    .step a {
        color: black;
    }

.step-h {
    color: #2980b9;
    padding-bottom: 50px;
}

.lesson-btn {
    margin-top: 30px;
    height: 45px;
    font-size: 20px;
}

@media (max-width: 991px) {
    .img-part {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .step img {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .content-part {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .header-logo {
        display: inline-block;
        width: 15%;
    }
}

@media (max-width: 991px) {
    .header-block {
        padding-left: 10px;
    }
}

@media (max-width: 991px) {
    .content-padding {
        padding-top: 50px;
    }
}

.footer-padding {
    padding-left: 60px;
}

.finished {
    color: #5298ea;
}

.right {
    text-align: right;
}

    .right h3, a {
        color: white;
    }

    .right a:hover {
        text-decoration: none;
        color: #8ab1df;
    }

.center {
    text-align: center;
}

    .center h3, a {
        font-size: 16px;
    }

    .center a:hover {
        text-decoration: none;
        color: #8ab1df;
    }

.ace_content {
    font-size: 16px;
}

.ace_gutter-layer {
    font-size: 16px;
    width: 25px !important;
}

.ace_gutter-cell {
    padding: 0 7px 0 4px !important;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

li {
    font-family: 'Montserrat', sans-serif;
}

ol {
    font-family: 'Montserrat', sans-serif;
}

.button {
    position: absolute;
    bottom: 15px;
    right: 135px;
    padding-top: 10px;
}

.button-mobile {
    padding: 20px;
}


@media (max-width: 991px) {
    .button {
        display: none;
    }
}

@media (min-width: 991px) {
    .button-mobile {
        display: none;
    }
}

.opacity1 {
    opacity: 1 !important;
}
