@import "../../../Base/global";



.main-header {
    --title-color: #214778;
    --subtitle-color: #434343;
    --bg-position-x: 120%;
    background-image: url(/images/Illustrations/header-dotvvm.svg), linear-gradient(to left,#f1f6fe 0,#f1f6fe 100%);
    background-repeat: no-repeat;
    background-position: var(--bg-position-x) center;
    background-size: contain;

    @include res-max-desktop-small {
        margin-bottom: 3rem;
    }

    @include res-max-tablet {
        background-image: none;
        background-color: #f1f6fe;
    }





    > div > div {
        padding: 5rem 0;
        position: relative;
        color: $color-white;

        @include res-max-tablet {
            text-align: center;
            padding: 3rem 0;
        }

        > h1 {
            text-transform: uppercase;
            font-size: 5rem;
            line-height: 5rem.2rem;
            font-weight: 300;
            position: relative;
            padding-bottom: 5rem;
            color: var(--title-color);

            @include res-max-mobile {
                font-size: $font-size-xl;
                line-height: calc($font-size-xl + .2rem);
            }

            &:before {
                position: absolute;
                content: '';
                top: calc(100% - 2.5rem);
                left: 0;
                width: 5rem;
                height: .2rem;
                transform: translateY(-50%);
                background-color: var(--title-color);

                @include res-max-tablet {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        p {
            padding-bottom: 2.5rem;
            font-size: $font-size-m;
            color: var(--subtitle-color);
        }
    }
}

@media only screen and (max-width: 1300px) {
    .main-header {
        background-position: 180% center;
    }
}

@media only screen and (max-width: 1120px) {
    .main-header {
        background-position: 250% center;
    }
}

@media only screen and (max-width: 1024px) {
    .main-header {
        background-position: 350% center;
    }
}

@media only screen and (max-width: 950px) {
    .main-header {
        background-position: 52rem center;
        background-color: #f1f6fe;
    }
}
