@import "../Base/_global.scss";

nav {
    padding: 0 5rem;
    box-sizing: border-box;

    a {
        display: flex;
        width: 20rem;
        padding: 1rem 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        text-decoration: none;
        color: $color-primary;
    }

    img {
        height: 6rem;
    }

    p {
        font-weight: 500;
    }
}
